<nav>
  <div class="container">
    <div class="nav-parent">
        <div class="d-flex align-items-center">
      <img class="nav-logo" src="../../assets/images/GBDarkLogo.png" alt="" />

        <a href="#help" class="my-link">Help</a>
        <a href="#generator" class="my-link">Generator</a>
        <a href="#credits" class="my-link">Credits</a>
      </div>

      <br>


      <div class="d-flex">
        <a class="my-link" href="">My Portfolio</a>
        <a class="my-link" href="">Repository</a>
        <a class="my-link" href="">My Github</a>
        <a href="" class="my-link">
            <img class="linkedIn" src="../../assets/images/linkedin.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</nav>
