<div class="footer-parent">
  <div class="container">
    <div class="row">
      <div class="footer-text col">
        <p>This app was created using Angular 16.0!</p>
        <p>Coded by: N. Harrison Wilkins</p>
        <p>Completed on: 07/28/2023</p>
      </div>
      <div class="footer-text col">
        <p>
          This is my Angular password generator. I created this app to help with
          my constant use of the same old passwords, and to practice my frontend
          skills!
        </p>
      </div>
      <div class="footer-text col">
        <p>
          I designed the app's user interface using Figma and coded it entirely
          from scratch using Visual Studio Code.
        </p>
      </div>

      <img
        class="footer-logo col"
        src="../../assets/images/GBDarkLogo.png"
        alt=""
      />
    </div>
  </div>
</div>
