<div class="parent-bg container">
    <input (input)="onchange_length($event.target!)" type="text" value="8" />
    <div>
        <label for="use_letters">Use letters</label>
        <input checked="true" (change)="onchange_use_letters()" type="checkbox" name="use_letters" id="use_letters">
    </div>
    <div>
        <label for="use_numbers">Use numbers</label>
        <input (change)="onchange_use_numbers()" type="checkbox" name="use_numbers" id="use_numbers">
    </div>
    <div>

        <label for="use_symbols">Use symbols</label>
        <input checked="true" (change)="onchange_use_symbols()" type="checkbox" name="use_symbols" id="use_symbols">
    </div>
    <button class="generator" (click)="generate_password()">generate!</button>
   <div id="output">

       <h1>New password: {{password}}</h1>
       <!-- <h1>{{ password }}</h1> -->
    </div>

</div>