.parent-bg,
html {
  font-family: "Press Start 2P", cursive;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #04151F;
}

.generator {
  padding: 12px;
  border: transparent;
  transition-duration: 200ms;
  margin: 10px;
  font-family: "Geologica", sans-serif;
  background: #DDDDDD;
}
.generator:hover{
    scale: 1.1;
    transition-duration: 200ms;
    background: #CCCCCC;
}
input {
  font-family: "Geologica", sans-serif;
  background: var(--celeste);
  color: var(--navy);
  border: transparent;
  border-radius: 10px;
}
#output {
  font-family: "Geologica", sans-serif;

  border: 1px solid #DDDDDD;
  min-height: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 70%;
  padding: 20px;
}
#output h1{
  word-wrap: break-word; /* Allow the alert text to wrap if it's too long */ /* Clip the password text if it overflows the container */
  white-space: nowrap; /* Prevent the password text from wrapping */
  text-overflow: ellipsis; 
}


#alerted {
  margin: 0;
  /* border-radius: 6px;  */
  padding: 8px;
  white-space: nowrap;
  position: relative;
  color: white;
  background: #0AB437;
  text-shadow: 1px 1px 0 black;
}
.red-alert{
  background: red !important;
}
.green-alert{
  background: #0AB437;
}
.blue-alert{
  /* background: rgb(0, 136, 255) !important; */
  background: #116fe9 !important;
}

.red-text{
  color: red;
}

:disabled{
  color: aliceblue;
  background: grey;
}

label{
  font-family: "Geologica", sans-serif;
  font-size: 24px;
  margin-right: 12px;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
  padding: 10px 20px;
  background-color: #0AB437;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.toast.show {
  opacity: 1;
}
.length{
  font-family: "Geologica", sans-serif;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 0px;  
  background: #FF7700;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 0; 
  background: #ffae00;
  cursor: pointer;
}