.parent-bg,
html {
  font-family: "Press Start 2P", cursive;
  min-height: 50vh;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.generator {
  color: var(--sky);
  background: var(--violet);
  border-radius: 10px;
  border: transparent;
  transition-duration: 200ms;
  margin: 10px;
}
.generator:hover{
    scale: 1.1;
    transition-duration: 200ms;
}
input {
  font-family: "Geologica", sans-serif;
  background: var(--celeste);
  color: var(--navy);
  border: transparent;
  border-radius: 10px;
}
#output {
  font-family: "Geologica", sans-serif;
  color: var(--sky);
  background: var(--violet);
  min-height: 10vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

