<div class="parent-bg container">
    <p id="alerted">{{alert}}</p>
            <h2 [ngClass]="{ 'red-text': length<8}">{{length}}</h2>
    <input (input)="onchange_length($event.target!)" type="range" min="1" max="28" value="8" />
    <div>
        <label for="use_letters">Use letters</label>
        <input checked="true" (change)="onchange_use_letters()" type="checkbox" name="use_letters" id="use_letters">
    </div>
    <div>
        <label for="use_numbers">Use numbers</label>
        <input (change)="onchange_use_numbers()" type="checkbox" name="use_numbers" id="use_numbers">
    </div>
    <div>

        <label for="use_symbols">Use symbols</label>
        <input checked="true" (change)="onchange_use_symbols()" type="checkbox" name="use_symbols" id="use_symbols">
    </div>
    <button [disabled]="!include_letters && !include_numbers && !include_symbols" class="generator" (click)="generate_password()">generate!</button>
    <button class="generator" (click)="copy_me()">copy!</button>

    <div id="output">
        <div>

     
            <h1>{{password}}</h1>

        </div>
       <!-- <h1>{{ password }}</h1> -->
    </div>

</div>