.parent-bg,
html {
  font-family: "Press Start 2P", cursive;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.generator {
  padding: 12px;
  border: transparent;
  transition-duration: 200ms;
  margin: 10px;
  font-family: "Geologica", sans-serif;
}
.generator:hover{
    scale: 1.1;
    transition-duration: 200ms;
}
input {
  font-family: "Geologica", sans-serif;
  background: var(--celeste);
  color: var(--navy);
  border: transparent;
  border-radius: 10px;
}
#output {
  font-family: "Geologica", sans-serif;

  border: 1px solid #e4e4e4;
  min-height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 70%;
}

#use_symbols:checked{
  background-color: var(--sky);
}

#alerted {
  margin: 0;
  color: red;
}
.red-text{
  color: red;
}

:disabled{
  color: aliceblue;
  background: grey;
}

label{
  font-family: "Geologica", sans-serif;
  font-size: 24px;
  margin-right: 12px;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.toast.show {
  opacity: 1;
}