<div class="parent-bg container">
    <!-- <p id="alerted">{{ alert }}</p> -->
  <div class="d-flex justify-content-between">
    <div>
      <h2 class="length" [ngClass]="{ 'red-text': length < 8 }">Length: {{ length }}</h2>
      <input
      [disabled]="!include_letters && !include_numbers && !include_symbols"
        (input)="onchange_length($event.target!)"
        type="range"
        min="1"
        max="98"
        value="8"
        class="slider"
      />
      <div>
        <label class="col-10 text-start"for="use_letters">Use letters</label>
        <input
        class="col"
          checked="true"
          (change)="onchange_use_letters(); generate_password()"
          type="checkbox"
          name="use_letters"
          id="use_letters"
        />
      </div>
      <div>
        <label class="col-10 text-start"for="use_numbers">Use numbers</label>
        <input
        class="col"
          (change)="onchange_use_numbers();generate_password()"
          type="checkbox"
          name="use_numbers"
          id="use_numbers"
        />
      </div>
      <div>
        <label class="col-10 text-start"for="use_symbols">Use symbols</label>
        <input
        class="col"
          checked="true"
          (change)="onchange_use_symbols();generate_password()"
          type="checkbox"
          name="use_symbols"
          id="use_symbols"
        />
      </div>
      <button
        [disabled]="!include_letters && !include_numbers && !include_symbols"
        class="generator"
        (click)="generate_password()"
      >
        Generate!
      </button>
      <button class="generator" (click)="copy_me()">Copy!</button>
      <!-- <p id="alerted">{{ alert }}</p> -->
    </div>
    <div class="toast show" *ngIf="showToast">{{ toastMessage }}</div>

    <div id="output">

        <p class="text-truncate">{{ password }}</p>
        <p [ngClass]="{'red-alert': length < 8, 'blue-alert': length >= 8 && length < 17, 'green-alert': length >= 17 && length < 30}" id="alerted">{{ alert }}</p>

    </div>
  </div>
</div>
