<div class="hero-parent container">
    <h1>Welcome to my Angular Password Generator </h1>
    <h3>Tired of coming up with secure passwords on your own? Look no further! The Angular Password Generator is here to simplify the process for you.</h3>
    <p>With just a click of a button, you can generate a strong and unique password to keep your accounts safe. By default, we generate passwords with 8 characters, combining a mix of letters and symbols. However, if you prefer, you can also include numbers in your password for added complexity.</p>
    <p>Don't compromise your accounts with weak passwords. Get started with the Angular Password Generator now and experience the convenience of having strong passwords at your fingertips!</p>
</div>