.hero-parent {
font-family: 'Geologica', sans-serif;
margin-top: 32px;

}

.hero-parent p{
  margin: 0;
}
.title{
  font-family: "Press Start 2P", cursive;

  /* font-size: 30px; */
  color: #F26430;
  text-shadow: 1px 1px 0 #000;
}