.hero-parent {
font-family: 'Geologica', sans-serif;
}

.hero-parent p{
    margin-bottom: 8px;
}
.title{
  font-family: "Press Start 2P", cursive;

  /* font-size: 30px; */
  color: rgb(10, 180, 55);
  text-shadow: 1px 1px 1px #000;
  
}